<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>consultoriomedico</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/application-context.xml</param-value>
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.citasmedicas.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroPacienteServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.citasmedicas.controller.RegistroPacienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroPacienteServlet</servlet-name>
        <url-pattern>/RegistroPacienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultaCitaServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.citasmedicas.controller.ConsultaCitaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultaCitaServlet</servlet-name>
        <url-pattern>/ConsultaCitaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistroCitaServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.citasmedicas.controller.RegistroCitaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroCitaServlet</servlet-name>
        <url-pattern>/RegistroCitaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.citasmedicas.controller.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
